@page
@model WebApp1.Pages.FormularioErrorPage
@{
    ViewData["Title"] = "Error";
}

<h4>Error</h4>

<div class="text-center">
    <h1 class="display-4">Error Tecnico 500</h1>

    <img src="~/img/error.png"
         alt="Servicio No Disponible"
         width="300"
         height="240" />



</div>