@page
@model IndexModel
@{
    ViewData["Title"] = "Pica page";
}

<div class="text-center">
    <h1 class="display-4">Pagina Principal</h1>

        <img src="img/integracion.jpeg"
     alt="Nueva pagina de Arquitectura"
     width="300"
     height="240"/>


    
</div>
